<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">

</head>
<body>
    <div>
        <img src="images/IMG-20230522-WA0007.jpg" id="sticker"
        <img src="images/IMG-20230901-WA0015.jpg" id="img2">
        <img src="images/IMG-20230901-WA0016.jpg" id="img3">
        <img src="images/IMG-20230901-WA0017.jpg" id="img4">
        <img src="images/IMG-20230901-WA0018.jpg" id="img5">
        <img src="images/IMG-20230901-WA0023.jpg" id="img6">
        <img src="images/IMG-20230901-WA0024.jpg" id="img7">
        <img src="images/IMG-20230901-WA0029.jpg" id="img8">
        <img src="images/IMG-20230901-WA0031.jpg" id="img9">
        <img src="images/IMG-20230901-WA0032.jpg" id="img10">
        <img src="images/IMG-20230901-WA0033.jpg" id="img11">
        <img src="images/IMG-20230901-WA0035.jpg" id="img12">
        <img src="images/IMG-20230901-WA0036.jpg" id="img13">
        <img src="images/IMG-20230901-WA0037.jpg" id="img14">
        <img src="images/IMG-20230901-WA0038.jpg" id="img15">
        <img src="images/IMG-20230901-WA0039.jpg" id="img16">
        <img src="images/IMG-20230901-WA0040.jpg" id="img17">
        <img src="images/IMG-20230901-WA0041.jpg" id="img18">
        <img src="images/IMG-20230901-WA0042.jpg" id="img19">
    </div>
    <a href="{% url 'index_page'%}">INDEX</a>
    <a href="{% url 'contact_page'%}">CONTACT</a>
    <a href="{% url 'home_page' %}">INDEX</a>





    


</body>
</html>